/* estilos reset*/
*{
    margin: 0;
    padding: 0;
}
h1, p{
    color: white;
}
body{
    background-image: url(https://i.pinimg.com/originals/ae/48/66/ae4866824012b855e82a358960c1d0d6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contenedor{
    width: 90%;
    margin: auto;
    text-align: center;
}
img{
    width: 50%;
    border: 1px solid black;
}
